@charset 'UTF-8';

html, body { margin: 0; height: 100%; width: 100%; }

.body-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    
    height: 100%;
}
.top-panel {
    background-color: #fff;
    text-align: center;
    width: 100%;
    flex: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.top-panel-item {
    flex: none;
}
.top-panel-title {
    flex: 1 1 auto;
    font-weight: bold;
}
.content-panel {
    flex: 1 1 auto;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch
}
.graph-control-buttons-panel {
    background-color: #fff;
    text-align: right;
}
.graph-control-panel {
    background-color: #fff;
}
.graph-panel {
    background-color: #fff;
}
.metric-control-panel {
    background-color: #fff;
}

.panel-body {
    padding: 0;
    background-color: #fff;
}

.btn-xs .badge {
    margin-bottom: 2px;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
    color: #aaa;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* https://github.com/hakib/MassAutocomplete/issues/13#issuecomment-70501721 */
/* fix styles */
[mass-autocomplete] {
    position: relative;
}

.ac-container {
    position: absolute;
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
}

.rg-top {
    margin-top: -15px;
}

.rg-top, .rg-bottom, .rg-left, .rg-right {
    background-color: #fff;
}

.form-label {
    font-weight: normal;
}

.label {
    font-weight: normal;
}

label {
    font-weight: normal;
}

.tooltip {
    z-index: 2000;
}

.form-control-xs {
    height: 22px;
    padding: 3px 6px;
}

.form-control-inline {
    display: inline-block;
}

.btn-group {
    padding-top: 3px;
    padding-bottom: 3px;
}

.standard-border {
    border-style: solid;
    border-color: #2a82df;
}

.gnuplotKeyPositionCell {
    padding: 3px;
}

.gnuplotAxesLabelCell {
    padding: 2px;
}

.gnuplotAxesInputCell {
    padding: 2px;
    text-align: center;
}

.nav > li > a {
    padding: 2px 7px 2px 7px;
}