.heatmap-legend {
    background-color: rgba(255,255,255,0)
}

.heatmap-div {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.cell {
    fill: #fff;
    stroke: #ccc;
}

.path {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.RdYlGn .filteredOut{fill:rgb(235,235,235)}
.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

.Gn .filteredOut{fill:rgb(240,240,130)}
.Gn .q0-11{fill:rgb(200,255,200)}
.Gn .q1-11{fill:rgb(160,255,160)}
.Gn .q2-11{fill:rgb(120,255,120)}
.Gn .q3-11{fill:rgb(80,255,80)}
.Gn .q4-11{fill:rgb(40,255,40)}
.Gn .q5-11{fill:rgb(0,255,0)}
.Gn .q6-11{fill:rgb(0,215,0)}
.Gn .q7-11{fill:rgb(0,175,0)}
.Gn .q8-11{fill:rgb(0,135,0)}
.Gn .q9-11{fill:rgb(0,95,0)}
.Gn .q10-11{fill:rgb(0,55,0)}

.Bl .filteredOut{fill:rgb(240,240,130)}
.Bl .q0-11{fill:rgb(200,200,255)}
.Bl .q1-11{fill:rgb(160,160,255)}
.Bl .q2-11{fill:rgb(120,120,225)}
.Bl .q3-11{fill:rgb(80,80,255)}
.Bl .q4-11{fill:rgb(40,40,255)}
.Bl .q5-11{fill:rgb(0,0,255)}
.Bl .q6-11{fill:rgb(0,0,215)}
.Bl .q7-11{fill:rgb(0,0,175)}
.Bl .q8-11{fill:rgb(0,0,135)}
.Bl .q9-11{fill:rgb(0,0,95)}
.Bl .q10-11{fill:rgb(0,0,55)}

.Rd .filteredOut{fill:rgb(240,240,130)}
.Rd .q0-11{fill:rgb(255,200,200)}
.Rd .q1-11{fill:rgb(255,160,160)}
.Rd .q2-11{fill:rgb(255,120,120)}
.Rd .q3-11{fill:rgb(255,80,80)}
.Rd .q4-11{fill:rgb(255,40,40)}
.Rd .q5-11{fill:rgb(255,0,0)}
.Rd .q6-11{fill:rgb(215,0,0)}
.Rd .q7-11{fill:rgb(175,0,0)}
.Rd .q8-11{fill:rgb(135,0,0)}
.Rd .q9-11{fill:rgb(95,0,0)}
.Rd .q10-11{fill:rgb(55,0,0)}