.heatmap-legend {
    background-color: rgba(255,255,255,0)
}

.heatmap-div {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.cell {
    fill: #fff;
    stroke: #ccc;
}

.path {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.RdYlGn .filteredOut{fill:rgb(235,235,235)}
.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

.Gn .filteredOut{fill:rgb(225,196,195)}
.Gn .q0-11{fill:rgb(247,252,245)}
.Gn .q1-11{fill:rgb(222,234,223)}
.Gn .q2-11{fill:rgb(198,215,201)}
.Gn .q3-11{fill:rgb(173,197,180)}
.Gn .q4-11{fill:rgb(148,178,158)}
.Gn .q5-11{fill:rgb(124,160,136)}
.Gn .q6-11{fill:rgb(99,142,114)}
.Gn .q7-11{fill:rgb(74,123,92)}
.Gn .q8-11{fill:rgb(49,105,71)}
.Gn .q9-11{fill:rgb(25,86,50)}
.Gn .q10-11{fill:rgb(0,68,27)}

.Bl .filteredOut{fill:rgb(225,196,195)}
.Bl .q0-11{fill:rgb(247,251,255)}
.Bl .q1-11{fill:rgb(223,231,240)}
.Bl .q2-11{fill:rgb(199,211,225)}
.Bl .q3-11{fill:rgb(175,190,211)}
.Bl .q4-11{fill:rgb(151,170,196)}
.Bl .q5-11{fill:rgb(128,150,181)}
.Bl .q6-11{fill:rgb(104,130,166)}
.Bl .q7-11{fill:rgb(80,109,151)}
.Bl .q8-11{fill:rgb(56,89,137)}
.Bl .q9-11{fill:rgb(32,68,122)}
.Bl .q10-11{fill:rgb(8,48,107)}

.Rd .filteredOut{fill:rgb(173,197,180)}
.Rd .q0-11{fill:rgb(255,245,240)}
.Rd .q1-11{fill:rgb(240,221,217)}
.Rd .q2-11{fill:rgb(225,196,195)}
.Rd .q3-11{fill:rgb(209,172,172)}
.Rd .q4-11{fill:rgb(194,147,149)}
.Rd .q5-11{fill:rgb(179,123,127)}
.Rd .q6-11{fill:rgb(164,98,104)}
.Rd .q7-11{fill:rgb(149,74,81)}
.Rd .q8-11{fill:rgb(133,49,58)}
.Rd .q9-11{fill:rgb(118,25,36)}
.Rd .q10-11{fill:rgb(103,0,13)}