<!DOCTYPE html>
<html ng-app="myApp" ng-controller="GraphCtrl">

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-css-only/css/bootstrap.css"/>
    <!-- App JS -->
    <script type="text/javascript">
        angular
            .module('myApp', ['ui.bootstrap'])
            .controller('GraphCtrl', ['$scope', function($scope) {
                $scope.nextGraphNumber = 2;
                $scope.graphTypes = ["gnuplot","dygraph"];
                $scope.graphs = [
                    {
                        "number": 1,
                        "title": "Graph 1",
                        "type": "gnuplot"
                    }
                ];
                    $scope.showEdit={};
                    $scope.isOpen={};
                $scope.addGraph = function() {
                    var num = $scope.nextGraphNumber++;
                    $scope.graphs.push({
                        "number": num,
                        "title": "Graph "+num,
                        "type": null
                    });
                    $scope.showEdit[num] = true;

                    $scope.firstOpen = false;
                    $scope.isOpen[num] = true;
                };
                    $scope.deleteGraph = function(num) {
                        var index = -1;
                        for (var i=0; i<$scope.graphs.length; i++) {
                            if ($scope.graphs[i].number == num) {
                                index = i;
                                break;
                            }
                        }
                        if (index == -1) {
                            return;
                        }
                        $scope.graphs.splice(index, 1);
                    }
                $scope.firstOpen = true;
            }]);
    </script>
    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
</head>

<body>

<p><a href="index.html">&lt;&lt; Back</a></p>

<div style="width: 400px">

    <accordion close-others="true">
        <accordion-group heading="Global" is-open="firstOpen">
            <button ng-click="addGraph()" value="Add graph">Add graph</button>
        </accordion-group>
        <accordion-group heading="{{graph.number}}: {{graph.title}}" is-open="isOpen[graph.number]" ng-repeat="graph in graphs">

            <div ng-show="showEdit[graph.number]">
            <input type="text" ng-model="graph.title" />

                <select ng-model="graph.type">
                    <option ng-repeat="type in graphTypes">{{type}}</option>
                </select>
            </div>
            <div>
            <button ng-click="showEdit[graph.number] = !showEdit[graph.number]">Edit</button> <button ng-click="deleteGraph(graph.number)">Delete</button>
            </div>

            <div ng-show="graph.type == 'gnuplot'">
                gnuplot controls<br/>
                <input type="checkbox" ng-model="graph.gnuplot.showLegend"/> Show legend
            </div>
            <div ng-show="graph.type == 'dygraph'">
                dygraph controls<br/>
                <input type="checkbox" ng-model="graph.dygraph.highlightLines"/> Highlight lines
            </div>
            <div ng-show="graph.type == 'cubism'">
                cubism controls
            </div>

        </accordion-group>
    </accordion>

</div>



</body>
</html>