<!DOCTYPE html>
<html ng-app="Aardvark" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Aardvark - An OpenTSDB Visualiser</title>
    <!-- Angular JS - keep order in here same as deps in aardvark-client.js -->
    <script type="application/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="application/javascript" src="../node_modules/angular-ui-layout/src/ui-layout.js"></script>
    <script type="application/javascript" src="../node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="application/javascript" src="../node_modules/angular-tree-control/angular-tree-control.js"></script>
    <script type="application/javascript" src="../node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script type="application/javascript" src="../node_modules/angular-mass-autocomplete/massautocomplete.js"></script>
    <script type="application/javascript" src="../node_modules/moment/moment.js"></script>
    <script type="application/javascript" src="../node_modules/d3/d3.js"></script>
    <script type="application/javascript" src="../node_modules/cubism/cubism.v1.js"></script>
    <script type="application/javascript" src="../node_modules/dygraphs/dygraph-combined-dev.js"></script>
    <script type="application/javascript" src="../node_modules/long/dist/long.js"></script>
    <script type="application/javascript" src="../node_modules/bytebuffer/dist/bytebuffer.js"></script>
    <script type="application/javascript" src="../node_modules/protobufjs/dist/protobuf.js"></script>
    <script type="application/javascript" src="../node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
    <!-- Angular CSS - keep order in here same as deps in aardvark-client.js -->
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap-css-only/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-ui-layout/src/ui-layout.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-tree-control/css/tree-control-attribute.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-mass-autocomplete/massautocomplete.theme.css">
    <!-- App JS -->
    <script type="text/javascript" src="aardvark-client.js"></script>
    <script type="text/javascript" src="StringSerialisation.js"></script>
    <script type="text/javascript" src="IntermediateModel.js"></script>
    <script type="text/javascript" src="rawIntermediateModel.js"></script>
    <script type="text/javascript" src="AardvarkServices.js"></script>
    <script type="text/javascript" src="AardvarkCtrl.js"></script>
    <script type="text/javascript" src="GraphControlCtrl.js"></script>
    <script type="text/javascript" src="GraphCtrl.js"></script>
    <script type="text/javascript" src="MetricControlCtrl.js"></script>
    <!-- App CSS -->
    <link rel="stylesheet" href="aardvark.css">
    <link rel="stylesheet" href="aardvark_horizon.css">
    <link rel="stylesheet" href="aardvark_dygraph.css">
</head>

<body ng-controller="AardvarkCtrl">

<div ui-layout>
    <div ui-layout-container class="top-panel" size="64px">
        <table border="0">
            <tr>
                <td style="padding: 5px">Version:&nbsp;1.3.1</td>
                <td style="padding: 5px" width="100%" align="center">
                    <b>Aardvark - An OpenTSDB Visualiser</b>
                </td>
                <td style="padding: 5px" align="right">
                    <!--button ng-click="undoAll()">Undo</button--><button ng-click="clearAll()">Reset</button>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 5px" colspan="3" align="right">
                    <label>Render:</label>
                    <div class="btn-group">
                        <label class="btn btn-primary btn-xs" ng-model="uiAutoUpdate" uib-btn-radio="true">On change</label>
                        <label class="btn btn-primary btn-xs" ng-model="uiAutoUpdate" uib-btn-radio="false">On enter key</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div ui-layout-container>
        <div ui-layout="{flow : 'column'}" >
            <div ui-layout-container size="200px">
                <div ui-layout="{flow : 'row'}" ng-controller="GraphControlCtrl">
                    <div ui-layout-container class="graph-control-panel">
                        <div style="overflow: auto; height: 100%; border-color: black; border-width: 1px; border-style: solid">
                            <!-- todo: m1: calendar controls incl date/time -->
                            <div style="border: solid 1px black">
                                <div>
                                    <input type="checkbox" id="timeIsAbsoluteId" ng-model="absoluteTimeSpecification" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                    <label for="timeIsAbsoluteId">Absolute?</label>
                                    <input type="checkbox" id="autoReloadId" ng-model="autoReload" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                    <label for="autoReloadId">Auto reload</label>
                                </div>
                                <div ng-show="autoReload">
                                    <input type="text" size="2" id="autoReloadPeriodId" ng-model="autoReloadPeriod" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                    <label for="autoReloadPeriodId">seconds</label>
                                </div>
                                <div ng-show="!absoluteTimeSpecification">
                                    <label for="relativePeriodId">Previous</label><br/>
                                    <input type="text" size="10" id="relativePeriodId" ng-model="relativePeriod" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" ng-required aardvark-enter="saveAndRenderGraphs()" />
                                </div>
                                <div ng-show="absoluteTimeSpecification">
                                    <label for="fromDateId">From</label><br/>
                                    <input type="text" size="10" id="fromDateId" ng-model="fromDate" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" ng-required aardvark-enter="saveAndRenderGraphs()" />
                                    <input type="text" size="8" id="fromTimeId" ng-model="fromTime" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" ng-required aardvark-enter="saveAndRenderGraphs()" />
                                </div>
                                <div ng-show="!autoReload && absoluteTimeSpecification">
                                    <label for="toDateId">To</label>
                                    <button ng-click="now()" >Now</button>
                                </div>
                                <div ng-show="!autoReload && absoluteTimeSpecification">
                                    <input type="text" size="10" id="toDateId" ng-model="toDate" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" ng-required aardvark-enter="saveAndRenderGraphs()" />
                                    <input type="text" size="8" id="toTimeId" ng-model="toTime" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" ng-required aardvark-enter="saveAndRenderGraphs()" />
                                </div>
                                <div>
                                    <input type="checkbox" id="globalDownsamplingId" ng-model="globalDownsampling" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                    <label for="globalDownsamplingId">Global downsampling</label><br/>
                                    <input type="text" size="10" id="globalDownsampleToId" ng-model="globalDownsampleTo" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" ng-show="globalDownsampling" />
                                </div>
                                <div>
                                    <input type="checkbox" id="baseliningId" ng-model="baselining" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                    <label for="baseliningId">Baselining</label><br/>
                                </div>
                                <div ng-show="baselining">
                                    <select id="baselineDatumStyleId" ng-model="baselineDatumStyle" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                        <option value="relative">Relative offset</option>
                                        <option value="from">From date/time</option>
                                        <option value="to">To date/time</option>
                                    </select>
                                </div>
                                <div ng-show="baselining && baselineDatumStyle == 'relative'">
                                    <input type="text" size="10" id="baselineRelativePeriodId" ng-model="baselineRelativePeriod" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" ng-required aardvark-enter="saveAndRenderGraphs()" />
                                </div>
                                <div ng-show="baselining && baselineDatumStyle == 'from'">
                                    <input type="text" size="10" id="baselineFromDateId" ng-model="baselineFromDate" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" ng-required aardvark-enter="saveAndRenderGraphs()" />
                                    <input type="text" size="8" id="baselineFromTimeId" ng-model="baselingingFromTime" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" ng-required aardvark-enter="saveAndRenderGraphs()" />
                                </div>
                                <div ng-show="baselining && baselineDatumStyle == 'to'">
                                    <input type="text" size="10" id="baseliToDateId" ng-model="toDate" ng-required ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                    <input type="text" size="8" id="baseliToTimeId" ng-model="toTime" ng-required ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                </div>
                            </div>
                            <div style="border: solid 1px black" ng-show="graphs.length > 1">
                                <div>
                                    <label for="autoGraphHeight">Auto-height graphs</label>
                                    <input type="checkbox" id="autoGraphHeight" ng-model="autoGraphHeight" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                </div>
                                <div ng-show="autoGraphHeight">
                                    <label for="minGraphHeight">Min height (pixels)</label>
                                    <input type="text" id="minGraphHeight" ng-model="minGraphHeight" ng-blur="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                </div>
                                <div ng-show="!autoGraphHeight">
                                    <label for="graphHeight">Fixed height (pixels)</label>
                                    <input type="text" id="graphHeight" ng-model="graphHeight" ng-blur="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                </div>
                            </div>
                            <uib-accordion close-others="true">
                                <uib-accordion-group heading="{{graph.title}}" is-open="isOpen[graph.id]" ng-repeat="graph in graphs track by graph.id">

                                    <div ng-show="showEdit[graph.id]">
                                        <input type="text" ng-model="graph.title" ng-blur="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />

                                        <select ng-model="graph.type" ng-show="graphTypes.length > 1" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                            <option ng-repeat="type in graphTypes">{{type}}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <button ng-click="showEdit[graph.id] = !showEdit[graph.id]">Edit title/type</button> <button ng-click="deleteGraph(graph.id)">Delete</button>
                                    </div>

                                    <div ng-show="graph.type == 'debug'">
                                        debug controls
                                    </div>
                                    <div ng-show="graph.type == 'gnuplot'">
                                        <uib-tabset>
                                            <uib-tab heading="Axes">
                                                <table>
                                                    <tr>
                                                        <th></th>
                                                        <th style="text-align: center">Y</th>
                                                        <th style="text-align: center">Y2</th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">Label</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="5px">&nbsp;</td>
                                                        <td><input type="text" size="5" ng-model="graph.gnuplot.yAxisLabel" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /></td>
                                                        <td><input type="text" size="5" ng-model="graph.gnuplot.y2AxisLabel" ng-blur=" saveAndRenderGraphsIfAutoUpdate()"  aardvark-enter="saveAndRenderGraphs()" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">Format</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><input type="text" size="5" ng-model="graph.gnuplot.yAxisFormat" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /></td>
                                                        <td><input type="text" size="5" ng-model="graph.gnuplot.y2AxisFormat" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">Range</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td style="text-align: center"><input type="text" size="2" ng-model="graph.gnuplot.yAxisRange" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /></td>
                                                        <td style="text-align: center"><input type="text" size="2" ng-model="graph.gnuplot.y2AxisRange" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">Log&nbsp;scale</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td style="text-align: center"><input type="checkbox" ng-model="graph.gnuplot.yAxisLogScale" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /></td>
                                                        <td style="text-align: center"><input type="checkbox" ng-model="graph.gnuplot.y2AxisLogScale" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /></td>
                                                    </tr>
                                                </table>
                                            </uib-tab>
                                            <uib-tab heading="Key">
                                                <label for="showKey">Show key</label>
                                                <input id="showKey" type="checkbox" ng-model="graph.gnuplot.showKey" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                <div>
                                                    <div>
                                                        Key placement:
                                                    </div>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="out top left" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="out top center" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="out top right" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td style="border-top: 1px solid black; border-left: 1px solid black">
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="top left" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td style="border-top: 1px solid black">
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="top center" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td style="border-top: 1px solid black; border-right: 1px solid black">
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="top right" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="out center left" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td style="border-left: 1px solid black">
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="center left" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td>
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="center" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td style="border-right: 1px solid black">
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="center right" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td>
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="out center right" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td style="border-bottom: 1px solid black; border-left: 1px solid black">
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="bottom left" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td style="border-bottom: 1px solid black">
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="bottom center" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td style="border-bottom: 1px solid black; border-right: 1px solid black">
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="bottom right" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="out bottom left" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="out bottom center" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <input ng-disabled="!graph.gnuplot.showKey" type="radio" value="out bottom right" ng-model="graph.gnuplot.keyLocation" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div>
                                                        Key alignment:
                                                    </div>
                                                    <div>
                                                        <input ng-disabled="!graph.gnuplot.showKey" type="radio" id="columnar" ng-model="graph.gnuplot.keyAlignment" value="columnar" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /><label for="columnar">Columnar</label>
                                                        <input ng-disabled="!graph.gnuplot.showKey" type="radio" id="horizontal" ng-model="graph.gnuplot.keyAlignment" value="horizontal" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /><label for="horizontal">Horizontal</label>
                                                    </div>
                                                    <div>
                                                        Key outline:
                                                    </div>
                                                    <div>
                                                        <input ng-disabled="!graph.gnuplot.showKey" type="checkbox" id="outline" ng-model="graph.gnuplot.keyBox" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" /><label for="outline">On</label>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                            <uib-tab heading="Misc">
                                                <div ng-show="showGnuplotAnnotationOptions()">
                                                    <input type="checkbox" id="gnuplotGlobalAnnotations" ng-model="graph.gnuplot.globalAnnotations" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                    <label for="gnuplotGlobalAnnotations">Global annotations</label>
                                                </div>
                                                <div>
                                                    <input type="checkbox" id="gnuplotSmooth" ng-model="graph.gnuplot.lineSmoothing" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                                    <label for="gnuplotSmooth">Smooth lines</label>
                                                </div>
                                                <div ng-show="showGnuplotStyles()">
                                                    <label for="gnuplotStyle">Style</label>
                                                    <select id="gnuplotStyle" ng-model="graph.gnuplot.style" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                                        <option>linespoint</option>
                                                        <option>points</option>
                                                        <option>circles</option>
                                                        <option>dots</option>
                                                    </select>
                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                    <div ng-show="graph.type == 'horizon'">
                                        <div>
                                            <input type="checkbox" id="interpolateGapsHorizon" ng-model="graph.horizon.interpolateGaps" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="interpolateGapsHorizon">Interpolate gaps?</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="squashNegativeHorizon" ng-model="graph.horizon.squashNegative" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="squashNegativeHorizon">Squash -ve y?</label>
                                        </div>
                                    </div>
                                    <div ng-show="graph.type == 'dygraph'">
                                        <div style="text-decoration: underline; font-weight: 800">
                                            Rendering
                                        </div>
                                        <div>
                                            <input type="checkbox" id="interpolateGapsDygraph" ng-model="graph.dygraph.interpolateGaps" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="interpolateGapsDygraph">Interpolate gaps?</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="highlightLinesDygraph" ng-model="graph.dygraph.highlightLines" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="highlightLinesDygraph">Highlight lines?</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="stackedLinesDygraph" ng-model="graph.dygraph.stackedLines" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="stackedLinesDygraph">Stacked lines?</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="ratioDygraph" ng-model="graph.dygraph.ratioGraph" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="ratioDygraph">Ratio graph?</label>
                                        </div>
                                        <div style="text-decoration: underline; font-weight: 800">
                                            y-Axis Control
                                        </div>
                                        <div>
                                            <input type="checkbox" id="squashNegativeDygraph" ng-model="graph.dygraph.squashNegative" ng-disabled="graph.dygraph.meanAdjusted" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="squashNegativeDygraph">Squash -ve?</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="autoScaleDygraph" ng-model="graph.dygraph.autoScale" ng-disabled="graph.dygraph.ylog" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="autoScaleDygraph">Auto scale?</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="ylogDygraph" ng-model="graph.dygraph.ylog" ng-disabled="graph.dygraph.autoScale" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="ylogDygraph">Logarithmic?</label>
                                        </div>
                                        <div style="text-decoration: underline; font-weight: 800">
                                            Annotations
                                        </div>
                                        <div>
                                            <input type="checkbox" id="annotationsDygraph" ng-model="graph.dygraph.annotations" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="annotationsDygraph">Annotations?</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="globalAnnotationsDygraph" ng-model="graph.dygraph.globalAnnotations" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="globalAnnotationsDygraph">Global annotations?</label>
                                        </div>
                                        <div style="text-decoration: underline; font-weight: 800">
                                            Filtering
                                        </div>
                                        <div>
                                            Show only 
                                            <select ng-model="graph.dygraph.countFilter.end" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                                <option>top</option>
                                                <option>bottom</option>
                                            </select>
                                            <input type="text" size="2" ng-model="graph.dygraph.countFilter.count" aardvark-enter="saveAndRenderGraphs()" />
                                            lines by
                                            <select ng-model="graph.dygraph.countFilter.measure" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                                <option>min</option>
                                                <option>mean</option>
                                                <option>max</option>
                                            </select>
                                        </div>
                                        <div>
                                            Show only lines which have
                                            <input type="text" size="2" ng-model="graph.dygraph.valueFilter.lowerBound" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            &lt;=
                                            <select ng-model="graph.dygraph.valueFilter.measure" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()">
                                                <option>any</option>
                                                <option>min</option>
                                                <option>mean</option>
                                                <option>max</option>
                                            </select>
                                            value &lt;=
                                            <input type="text" size="2" ng-model="graph.dygraph.valueFilter.upperBound" ng-blur=" saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                        </div>
                                        <div style="text-decoration: underline; font-weight: 800">
                                            Specials
                                        </div>
                                        <div>
                                            <input type="checkbox" id="meanAdjustedDygraph" ng-model="graph.dygraph.meanAdjusted" ng-disabled="graph.dygraph.squashNegative" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="meanAdjustedDygraph">Mean adjusted?</label>
                                        </div>
                                    </div>
                                    <div ng-show="graph.type == 'scatter'">
                                        <div>
                                            <input type="checkbox" id="excludeNegativeDygraph" ng-model="graph.scatter.excludeNegative" ng-change="saveAndRenderGraphsIfAutoUpdate()" aardvark-enter="saveAndRenderGraphs()" />
                                            <label for="excludeNegativeDygraph">Exclude negative values?</label>
                                        </div>
                                    </div>
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                    <div ui-layout-container size="40px" class="graph-control-buttons-panel">
                        <button ng-click="addGraph()" value="Add graph">Add graph</button>
                        <button ng-click="saveAndRenderGraphs()">Save..</button>
                    </div>
                </div>
            </div>
            <div ui-layout-container id="graph-panel" style="overflow: auto">
                <div ng-controller="GraphCtrl" class="graph-panel" id="scrollable-graph-panel" style="overflow: scroll">
                    <div ng-repeat="graph in model.graphs track by graph.id" id="graphDiv_{{graph.id}}"
                         bs-loading-overlay
                         bs-loading-overlay-reference-id="graphOverlay_{{graph.id}}"
                         bs-loading-overlay-template-url="loading-overlay-template.html">
                        <div class="graph-title">
                            <span>{{graph.title}}</span>
                            <span ng-show="renderMessages[graph.id] != null && renderMessages[graph.id] != ''"> - {{renderMessages[graph.id]}}</span>
                        </div>
                        <div ng-show="renderErrors[graph.id]!=null">
                            <span style="color: red">{{renderErrors[graph.id]}}</span>
                        </div>
                        <div ng-show="renderWarnings[graph.id]!=null">
                            <span>Warning: {{renderErrors[graph.id]}}</span>
                        </div>
                        <!-- content -->
                        <div ng-show="renderErrors[graph.id]==null">
                            <div id="debugDiv_{{graph.id}}" ng-show="graph.type == 'debug'">
                                <pre>{{renderedContent[graph.id]}}</pre>
                            </div>
                            <!--<div id="gnuplotDiv_{{graph.id}}" ng-show="graph.type == 'gnuplot'">-->
                                <!--<pre>{{renderedContent[graph.id]}}</pre>-->
                            <!--</div>-->
                            <img id="gnuplotImg_{{graph.id}}" ng-show="graph.type == 'gnuplot'" ng-src="{{renderedContent[graph.id].src}}" aardvark-load="renderMessages[graph.id] = ''; graphRendered(graph.id);" width="{{renderedContent[graph.id].width}}" height="{{renderedContent[graph.id].height}}" />
                            <div id="horizonDiv_{{graph.id}}" ng-show="graph.type == 'horizon'"></div>
                            <div id="dygraphLegend_{{graph.id}}" ng-show="graph.type == 'dygraph'" style="position: absolute; z-index: 10; top: 20px; left: 100px; line-height: normal; text-align: left; overflow: hidden; background: rgba(255,255,255,0);" class="dygraph-legend"></div>
                            <div id="dygraphDiv_{{graph.id}}" ng-show="graph.type == 'dygraph'" style="background-color: white"></div>
                            <div id="scatterLegend_{{graph.id}}" ng-show="graph.type == 'scatter'" style="position: absolute; z-index: 10; top: 20px; left: 100px; line-height: normal; text-align: left; overflow: hidden; background: rgba(255,255,255,0);" class="dygraph-legend"></div>
                            <div id="scatterDiv_{{graph.id}}" ng-show="graph.type == 'scatter'" style="background-color: white"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ui-layout-container class="metric-control-panel" size="250px">
                <div ui-layout="{flow : 'row'}" ng-controller="MetricControlCtrl">
                    <div ui-layout-container class="metric-control-panel" size="50%" style="border: 1px solid black; height: 100%">
                        <div>
                            <input type="button" value="+" ng-click="expandAll()" ng-show="expandAllVisible()" alt="Expand all nodes">
                            <input type="button" value="-" ng-click="collapseAll()" alt="Collapse all nodes">
                            <input type="button" value="F" ng-click="showHideFilterInput()" alt="Filter...">
                            <input type="button" value="R" ng-click="updateTree()" alt="Update tree from TSDB">
                            <input type="button" value="S" ng-click="showIgnoredPrefixes()" ng-show="showIgnoredPrefixesVisible()" alt="Show ignored prefixes">
                            <input type="button" value="H" ng-click="hideIgnoredPrefixes()" ng-show="hideIgnoredPrefixesVisible()" alt="Hide ignored prefixes">
                        </div>
                        <div ng-show="showFilterInput">
                            <input type="text" ng-model="filter">
                            <input type="button" value="C" ng-click="clearFilterInput()">
                        </div>

                        <div style="overflow: auto">
                            <div treecontrol
                                 class="tree-light"
                                 tree-model="dataForTheTree"
                                 options="treeOptions"
                                 on-selection="nodeSelectedForAddition(node,selected)"
                                 selected-node="selectedTreeNode"
                                 filter-expression="filter"
                                 expanded-nodes="expandedNodes"
                                    >
                                <span style="text-decoration: {{nodeDecoration(node)}}">{{node.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div ui-layout-container class="metric-control-panel">
                        <div>
                            <label for="metricControl_selectMetric">Metric</label>
                            <select id="metricControl_selectMetric" ng-model="selectedMetricId" ng-change="nodeSelectedForEditing()" ng-disabled="nodeSelectionDisabled">
                                <option ng-repeat="metric in model.metrics track by metric.id" value="{{metric.id}}">{{metric.name}}</option>
                            </select>
                        </div>

                        <div style="border: 1px solid black; overflow: auto">
                            <!-- todo: m1: start -> 1 graph -> add metric -> save -> delete graph -> save -> add graph -> save -> graph, edit metric -> no graph selection -->
                            <div  >
                                <label for="metricControl_editMetric_selectGraph">Graph</label>
                                <select id="metricControl_editMetric_selectGraph" ng-model="graphId" ng-disabled="!clearButtonEnabled()" ng-change="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()">
                                    <option value="0" selected="selected">None</option>
                                    <option ng-repeat="graph in model.graphs track by graph.id" value="{{graph.id}}">
                                        {{graph.title}}
                                    </option>
                                </select>
                            </div>
                            <div>
                                <label for="metricControl_editMetric_aggregator">Aggregator</label>
                                <select id="metricControl_editMetric_aggregator" ng-model="aggregator" ng-disabled="!clearButtonEnabled()" ng-change="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()">
                                    <option>sum</option>
                                    <option>min</option>
                                    <option>max</option>
                                    <option>avg</option>
                                    <option>dev</option>
                                    <option>zimsum</option>
                                    <option>mimmin</option>
                                    <option>mimmax</option>
                                    <!-- TODO load aggregators from /aggregators on tsdb.. -->
                                </select>
                            </div>
                            <div>
                                <label for="metricControl_editMetric_rightAxis">Right Axis</label>
                                <input id="metricControl_editMetric_rightAxis" type="checkbox" ng-model="rightAxis" ng-disabled="!clearButtonEnabled()" ng-change="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()" />
                            </div>
                            <div>
                                <label for="metricControl_editMetric_rate">Rate?</label>
                                <input id="metricControl_editMetric_rate" type="checkbox" ng-model="rate" ng-disabled="!clearButtonEnabled()" ng-change="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()" />
                                <label for="metricControl_editMetric_rate">Rate Ctr?</label>
                                <input id="metricControl_editMetric_rateCounter" type="checkbox" ng-model="rateCounter" ng-disabled="!clearButtonEnabled() && !rate" ng-change="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()" />
                            </div>
                            <div ng-show="rateCounter">
                                <label for="metricControl_editMetric_rateCounterMax">Counter max</label>
                                <input id="metricControl_editMetric_rateCounterMax" type="text" ng-model="rateCounterMax" ng-blur="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()" />
                                <label for="metricControl_editMetric_rateCounterReset">Counter reset</label>
                                <input id="metricControl_editMetric_rateCounterReset" type="text" ng-model="rateCounterReset" ng-blur="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()" />
                            </div>
                            <div>
                                <label for="metricControl_editMetric_downsample">Downsample?</label>
                                <input id="metricControl_editMetric_downsample" type="checkbox" ng-model="downsample" ng-disabled="!clearButtonEnabled()" ng-change="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()" />
                                <label for="metricControl_editMetric_downsampleBy">by</label>
                                <select id="metricControl_editMetric_downsampleBy" ng-model="downsampleBy" ng-disabled="!downsampleByEnabled()" ng-change="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()">
                                    <option>sum</option>
                                    <option>min</option>
                                    <option>max</option>
                                    <option>avg</option>
                                    <option>dev</option>
                                    <option>zimsum</option>
                                    <option>mimmin</option>
                                    <option>mimmax</option>
                                    <!-- TODO load aggregators from /aggregators on tsdb.. -->
                                </select>
                                <input type="text" ng-model="downsampleTo" ng-disabled="!downsample" ng-blur="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()" />
                            </div>

                            <div ng-hide="tagFilteringSupported()">
                                <table>
                                    <tr ng-repeat="tagk in tagNames">
                                        <td>{{tagk}}</td>
                                        <td><div tag-selection></div></td>
                                    </tr>
                                </table>
                            </div>

                            <div ng-show="tagFilteringSupported()">
                                <span ng-repeat="tagk in tagNames" style="padding-right: 3px"><button class="btn btn-primary btn-xs" ng-click="addTagRow(tagk)" tooltip-append-to-body="true" uib-tooltip="Add tag row: {{tagValues[tagk].length}} unique values">+ {{tagk}} <span class="badge">{{tagValues[tagk].length}}</span></button></span>
                            </div>

                            <div ng-show="tagFilteringSupported()">
                                <table cellspacing="3">
                                    <tr ng-repeat="tag in tagFilters track by tag.id">
                                        <td><span class="glyphicon glyphicon-remove-circle" style="cursor: pointer; cursor: hand; padding-right: 3px" ng-click="deleteTagRow(tag.id)" tooltip-append-to-body="true" uib-tooltip="Remove row" tooltip-placement="right"></span></td>
                                        <td style="padding-right: 3px"><span>{{tag.name}}</span></td>
                                        <td style="width: 100%; padding-right: 3px"><div tag-filter-selection></div></td>
                                        <td><input type="checkbox" ng-model="tag.groupBy"  tooltip-append-to-body="true" uib-tooltip="Group by" tooltip-placement="left" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-show="graph.type == 'scatter'">
                            <label for="metricControl_scatter_axis">Axis</label>
                            <select id="metricControl_scatter_axis" ng-model="scatterAxis" ng-change="saveMetricIfAutoUpdate()" aardvark-enter="addOrSaveMetric()">
                                <option>x</option>
                                <option>y</option>
                            </select>
                        </div>
                        <input type="button" value="Cancel" ng-click="clearMetric()" ng-disabled="!clearButtonEnabled()">
                        <input type="button" value="Add" ng-click="addMetric()" ng-show="addButtonVisible()">
                        <input type="button" value="Delete" ng-click="deleteMetric()" ng-show="deleteButtonVisible()">
                        <input type="button" value="Save" ng-click="saveMetric()" ng-show="saveButtonVisible()">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>
