<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MetricsCtrl">

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="angular-mass-autocomplete/massautocomplete.js"></script>
    <link rel="stylesheet" type="text/css" href="angular-mass-autocomplete/massautocomplete.theme.css">
    <!-- App JS -->
    <script type="text/javascript">
        angular
            .module('myApp', ['ngSanitize','MassAutoComplete'])
            .directive('tagSelection', function() {
                return {
                    template: '<div mass-autocomplete><input type="text" ng-model="tag[tagk]" mass-autocomplete-item="tag_options_fn" dynamic-options="{{tagk}}"/> RE? <input type="checkbox" ng-checked="re[tagk]"/> {{tagValuesMatchCount(tagk)}}</div>'
                }
            })
            .controller('MetricsCtrl', ['$scope', '$sce', '$http', function($scope, $sce, $http) {
                $scope.tag = {};
                $scope.re = {};
                $scope.tagOptions = {};
                $scope.tag_options_fn = {
                    options: function(key) {
                        return $scope.tagOptions[key];
                    }
                };
                $scope.selectedMetric = '';

                $http.get('/api/suggest').success(function(json) {
                //$http.get('http://localhost:4242/api/suggest?type=metrics&max=1000000').success(function(json) {
                    // right we need to build our tree, we have an array of name, we need to split by "."
                    $scope.metrics = json;
                });

                $scope.metricSelected = function() {
                    $http.get("/api/tags?metric="+$scope.selectedMetric.trim()).success(function (json) {
                        var tagNames = [];

                        for (var key in json) {
                            if (json.hasOwnProperty(key)) {
                                tagNames.push(key);
                            }
                        }

                        // setup tagk options prior to making them available
                        for (var i=0; i<tagNames.length; i++) {
                            // nasty inner function to get around closure issues
                            var fn = function(localKey) {
                                $scope.tagOptions[localKey] = {
                                    suggest: function(term) {
                                        return $scope.suggestTagValues(term, localKey);
                                    }
                                };
                                $scope.re[localKey] = true;
                            }
                            fn(tagNames[i]);
                        }
                        $scope.tagNames = tagNames;
                        $scope.tagValues = json;
                    });
                }

                $scope.suggestTagValues = function(term, tag) {
                    var q = term.toLowerCase().trim();

                    var lastPipe = q.lastIndexOf("|");
                    var prefix = "";

                    var haveValues = [];
                    if (lastPipe >= 0) {
                        prefix = q.substring(0,lastPipe+1);
                        q = q.substring(lastPipe+1);

                        var haveValuesString = prefix.substring(0, lastPipe);
                        haveValues = haveValuesString.split("|");
                    }

                    var results = [];

                    var allValues = $scope.tagValues[tag];
                    for (var i=0; i<allValues.length; i++) {
                        if (allValues[i].toLowerCase().startsWith(q) && haveValues.indexOf(allValues[i])<0) {
                            results.push({label: allValues[i], value: prefix+allValues[i]});
                        }
                    }
                    return results;
                }

                $scope.tagValuesMatchCount = function(tag) {
                    var inputText = $scope.tag[tag];
                    if (inputText=="" || inputText==null){
                        return "";
                    }
                    if (inputText.endsWith("|") && $scope.re[tag]) {
                        inputText = inputText.substring(0, inputText.length-1);
                    }
                    var allValues = $scope.tagValues[tag];
                    var count = 0;
                    if (!$scope.re[tag] && inputText=="*") {
                        return allValues.length();
                    }
                    for (var i=0; i<allValues.length; i++) {
                        if ($scope.re[tag]) {
                            if (new RegExp(inputText).test(allValues[i])) {
                                count++;
                            }
                        }
                        else {
                            if (inputText == allValues[i]) {
                                count++;
                            }
                        }

                    }
                    return "("+count+")";
                }
            }]);
    </script>
</head>

<body>

<p><a href="index.html">&lt;&lt; Back</a></p>

<div style="width: 400px">
    Metric: <select ng-model="selectedMetric" ng-change="metricSelected()">
        <option></option>
        <option ng-repeat="metric in metrics">
            {{metric}}
        </option>
    </select>

    <input type="text" ng-model="selectedMetric" disabled="true">

    <div>
        Rate? <input type="checkbox">
        <br/>
        Downsample?
        <input type="checkbox" ng-model="downsample">
        <select ng-model="downsampleBy" ng-disabled="!downsample">
            <option selected="true">avg</option>
            <option>sum</option>
            <option>min</option>
            <option>max</option>
            <option>...</option>
        </select>
        <input type="text" ng-disabled="!downsample" ng-model="downsampleTo">

        <table>
            <!--tr ng   repeat="tagName in tagNames">
                <td>{{tagName}}</td>
                <td><div tag-selection tagk="{{tagName}}"/></td>
            </tr-->
            <tr ng-repeat="tagk in tagNames">
                <td>{{tagk}}</td>
                <td><div tag-selection tagk="tagk"/></td>
            </tr>
            <!--tr>
                <th>host</th>
                <td><div mass-autocomplete><input type="text" ng-model="tag.host" mass-autocomplete-item="tag_options_fn" dynamic-options="host" /> RE? <input type="checkbox" ng-checked="re.host"/> {{tagValuesMatchCount("host")}}</div></td>
            </tr>
            <tr>
                <th>user</th>
                <td><div mass-autocomplete><input type="text" ng-model="tag.user" mass-autocomplete-item="tag_options_fn" dynamic-options="user" /> RE? <input type="checkbox" ng-checked="re.user"/> {{tagValuesMatchCount("user")}}</div></td>
            </tr>
            <tr>
                <th>method</th>
                <td><div mass-autocomplete><input type="text" ng-model="tag.method" mass-autocomplete-item="tag_options_fn" dynamic-options="method" /> RE? <input type="checkbox" ng-checked="re.method"/> {{tagValuesMatchCount("method")}}</div></td>
            </tr-->
        </table>

        <input type="button" value="Add">
    </div>

</div>



</body>
</html>