<!DOCTYPE html>
<html ng-app="MockUi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Aardvark - An OpenTSDB Visualiser</title>
    <!-- Angular JS - keep order in here same as deps in aardvark-client.js -->
    <script type="application/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="application/javascript" src="../node_modules/angular-ui-layout/src/ui-layout.js"></script>
    <script type="application/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="application/javascript" src="../node_modules/angular-tree-control/angular-tree-control.js"></script>
    <script type="application/javascript" src="../node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script type="application/javascript" src="../node_modules/moment/moment.js"></script>
    <!-- Angular CSS - keep order in here same as deps in aardvark-client.js -->
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap-css-only/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-ui-layout/src/ui-layout.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-tree-control/css/tree-control-attribute.css">
    <!-- App JS -->
    <script type="text/javascript">
        var mockui = angular.module('MockUi', ['ui.layout','ui.bootstrap','treeControl','ngSanitize']);

        mockui.directive('aaCollapsiblePanel', function() {
                    return {
                        restrict: 'E',
                        transclude: true,
                        scope: {
                            toggleTitle: '@title',
                            isCollapsed: '@initialCollapsed'
                        },
                        templateUrl: 'aardvark-collapsible-panel.html'
                    };
                });

        mockui
                .controller('MockUiCtrl', [ '$rootScope', '$http', '$location', function MockUiCtrl($rootScope, $http, $location) {
                    /*
                     * Model persistence - ensures that persistent data is saved to the hash whilst leaving
                     * controllers free to litter their own scope with volatile data. Controllers are responsible
                     * for correctly populating any derivable volatile data from persistent on page load
                     */
                    $rootScope.model = {
                        metrics: [],
                        graphs: []
                    };
                    
                    $rootScope.config = {
                        tsdbHost: "localhost",
                        tsdbPort: 8000
                    }
                    
                    $rootScope.absoluteTimeSpecification = false;

                    $rootScope.showTreeFilter = false;
                    $rootScope.allParentNodes = [];
                    $rootScope.showFilterInput = false;
                    $rootScope.selectedTreeNode = undefined;
                    $rootScope.selectedMetric = "";
                    $rootScope.filter = "";
                    $rootScope.expandedNodes = [];
                    $rootScope.tag = {};
                    $rootScope.tags = [];
                    $rootScope.tagOptions = {};
                    $rootScope.tagNames = [];
                    $rootScope.tagValues = {};
                    $rootScope.lastId = 0;
                    $rootScope.selectedMetricId = 0;
                    $rootScope.nodeSelectionDisabled = false;

                    $rootScope.graphId = "0";
                    $rootScope.aggregator = "sum";
                    $rootScope.rightAxis = false;
                    $rootScope.rate = false;
                    $rootScope.rateCounter = false;
                    $rootScope.rateCounterMax = "";
                    $rootScope.rateCounterReset = "";
                    $rootScope.downsample = false;
                    $rootScope.downsampleBy = "avg";
                    $rootScope.downsampleTo = "";
                    $rootScope.scatterAxis = "";
                    
                    $rootScope.autoGraphHeight = true;

                    $rootScope.hideDialog = function (message) {
                        $rootScope.message = message;
                        $rootScope.dialogIsHidden = true;
                        $timeout(function () {
                            $rootScope.message = '';
                            $rootScope.dialogIsHidden = false;
                        }, 2000);
                    };

                    $rootScope.nextId = function() {
                        var next = 0;
                        if (next <= $rootScope.lastId) {
                            next = $rootScope.lastId+1;
                        }
                        $rootScope.lastId = next;
                        return next + "";
                    }
                    
                    $rootScope.addTagRow = function(tagk) {
                        $rootScope.tags.push({id:$rootScope.nextId(),name:tagk,value:"",groupBy:true});
                    }
                    
                    $rootScope.deleteTagRow = function(id) {
                        var index = -1;
                        for (var i=0; i<$rootScope.tags.length; i++) {
                            if ($rootScope.tags[i].id == id) {
                                index = i;
                                break;
                            }
                        }
                        if (index != -1) {
                            $rootScope.tags.splice(index, 1);
                        }
                    }


                    $rootScope.updateTree = function() {
                        $http.get('http://'+$rootScope.config.tsdbHost+':'+$rootScope.config.tsdbPort+'/api/suggest?type=metrics&max=1000000').success(function(json) {
                            // right we need to build our tree, we have an array of name, we need to split by "."

                            var roots = [];
                            var nodes = {};
                            var allNodes = [];
                            var parentNodes = [];

                            for (var i = 0; i < json.length; i++) {
                                var path = json[i].split(".");
                                var parent = roots;
                                var id = "";
                                for (var j = 0; j < path.length; j++) {
                                    if (j > 0) {
                                        id += ".";
                                    }
                                    id += path[j];
                                    var node = nodes[id];
                                    if (!node) {
                                        node = {id: id, name:path[j], isMetric:false, children: []};
                                        if (parent == roots) {
                                            parent.push(node);
                                        }
                                        else {
                                            parent.children.push(node);
                                        }
                                        nodes[id] = node;
                                        allNodes.push(node);
                                    }
                                    parent = node;
                                }
                                parent.isMetric = true;
                            }

                            $rootScope.dataForTheTree = roots;
                            for (var k=0; k<allNodes.length; k++) {
                                if (allNodes[k].children.length > 0) {
                                    parentNodes.push(allNodes[k]);
                                }
                            }
                            $rootScope.allParentNodes = parentNodes;
                        });
                    };


                    $rootScope.showHideFilterInput = function() {
                        if ($rootScope.showFilterInput) {
                            $rootScope.clearFilterInput();
                        }
                        $rootScope.showFilterInput = !$rootScope.showFilterInput;
                    }

                    $rootScope.clearFilterInput = function() {
                        $rootScope.filter = '';
                    }


                    $rootScope.collapseAll = function() {
                        $rootScope.expandedNodes = [];
                    };

                    $rootScope.expandAll = function() {
                        $rootScope.expandedNodes = $rootScope.allParentNodes;
                    };

                    $rootScope.nodeDecoration = function(node) {
                        return node.isMetric ? "underline" : "none";
                    };


                    $rootScope.metricSelected = function(metricName, newMetric) {
                        var url = "http://"+$rootScope.config.tsdbHost+":"+$rootScope.config.tsdbPort+"/api/search/lookup";
                        var requestJson = {"metric": metricName, "limit": 100000, "useMeta": true};
                        var postData = JSON.stringify(requestJson);
                        $http.post(url, postData).success(function (data) {
                            var tagValues = {};

//            var tsdbResponse = JSON.parse(data);
                            var tsdbResponse = data;
                            var results = tsdbResponse.results;
                            for (var i=0; i<results.length; i++) {
                                var ts = results[i];
                                for (var tagk in ts.tags) {
                                    if (ts.tags.hasOwnProperty(tagk)) {
                                        if (!(tagk in tagValues)) {
                                            tagValues[tagk] = [];
                                        }
                                        if (tagValues[tagk].indexOf(ts.tags[tagk]) < 0) {
                                            tagValues[tagk].push(ts.tags[tagk]);
                                        }
                                    }
                                }
                            }
                            var tagNames = [];

                            for (var key in tagValues) {
                                if (tagValues.hasOwnProperty(key)) {
                                    tagNames.push(key);
                                }
                            }

                            // setup tagk options prior to making them available
                            for (var i=0; i<tagNames.length; i++) {
                                // nasty inner function to get around closure issues
                                var fn = function(localKey) {
                                    $rootScope.tagOptions[localKey] = {
                                        suggest: function(term) {
                                            return $rootScope.suggestTagValues(term, localKey);
                                        }
                                    };
                                    if (newMetric) {
                                        $rootScope.tag[localKey] = '';
                                    }
                                }
                                fn(tagNames[i]);
                            }
                            $rootScope.tagNames = tagNames;
                            $rootScope.tagValues = tagValues;

                        });
                    };

                    $rootScope.nodeSelectedForAddition = function (node,selected) {
                        var valid = selected && node.isMetric;
                        $rootScope.selectedMetric = valid ? node.id : '';
                        $rootScope.nodeSelectionDisabled = valid;
                        if (valid) {
                            $rootScope.selectedMetricId = "0";
                            if ($rootScope.model.graphs.length == 1) {
                                $rootScope.graphId = $rootScope.model.graphs[0].id;
                            }
                            else {
                                $rootScope.graphId = "0";
                            }
                            $rootScope.metricSelected($rootScope.selectedMetric.trim(), true);
                        }
                        else {
                            $rootScope.metricDeselected();
                        }
                    };
                    $rootScope.metricDeselected = function() {
                        $rootScope.tagOptions = {};
                        $rootScope.tagValues = {};
                        $rootScope.tagNames = [];
                        $rootScope.tag = {};
                        $rootScope.graphId = "0";
                        $rootScope.selectedMetric = "";
                        $rootScope.selectedMetricId = "0";
                        $rootScope.rate = false;
                        $rootScope.rateCounter = false;
                        $rootScope.rateCounterMax = "";
                        $rootScope.rateCounterReset = "";
                        $rootScope.downsample = false;
                        $rootScope.downsampleBy = "avg";
                        $rootScope.downsampleTo = "";
                        $rootScope.scatterAxis = "";
                        $rootScope.rightAxis = false;
                        $rootScope.aggregator = "sum";
                        $rootScope.nodeSelectionDisabled = false;
                    };


                    $rootScope.openFromDatePopup = function() {
                        $rootScope.fromDatePopupOpen = !$rootScope.fromDatePopupOpen;
                    };
                    $rootScope.openToDatePopup = function() {
                        $rootScope.toDatePopupOpen = !$rootScope.toDatePopupOpen;
                    };
/*
                    function getFromDayClass(data) {
                        var date = data.date;
                        if (date < new Date()) {
                            return 'invalid-date';
                        }
                        return '';
                    }
                    $rootScope.fromDatePickerOptions = {
                        customClass: getFromDayClass
                    };

                    function getToDayClass(data) {
                        var date = data.date;
                        if (date > new Date()) {
                            return 'invalid-date';
                        }
                        return '';
                    }
                    $rootScope.toDatePickerOptions = {
                        customClass: getToDayClass
                    };*/

                    $rootScope.fromDatePopupOpen = false;
                    $rootScope.toDatePopupOpen = false;
                    
                    $rootScope.end = "bottom";
                    $rootScope.setEnd = function(end) {
                        $rootScope.end = end;
                    }
                    $rootScope.countMeasure = "mean";
                    $rootScope.setCountMeasure = function(measure) {
                        $rootScope.countMeasure = measure;
                    }
                    $rootScope.valueMeasure = "any";
                    $rootScope.setValueMeasure = function(measure) {
                        $rootScope.valueMeasure = measure;
                    }

                    $rootScope.addButtonVisible = function() {
                        return $rootScope.selectedMetric != "";
                    };
                    $rootScope.deleteButtonVisible = function() {
                        return $rootScope.selectedMetricId != "0";
                    };
                    $rootScope.saveButtonVisible = function() {
                        return $rootScope.selectedMetricId != "0";
                    };
                    $rootScope.clearButtonEnabled = function() {
                        return $rootScope.addButtonVisible() || $rootScope.saveButtonVisible();
                    };
                    
                    $rootScope.updateTree();
                    
                }]);

        
    </script>
    <!-- App CSS -->
    <link rel="stylesheet" href="mockui.css">
    <link rel="stylesheet" href="aardvark_horizon.css">
</head>

<body ng-controller="MockUiCtrl">

<div ui-layout>
    <div ui-layout-container class="top-panel" size="32px">
        <table border="0">
            <tr>
                <td style="padding: 5px">Version:&nbsp;dev</td>
                <td style="padding: 5px" width="100%" align="center">
                    <b>Aardvark - An OpenTSDB Visualiser</b>
                </td>
                <td style="padding: 5px" align="right">
                    <button class="btn btn-primary btn-xs">Reset</button>
                </td>
            </tr>
        </table>
    </div>

    <div ui-layout-container>
        <div ui-layout="{flow : 'column'}" >
            <div ui-layout-container size="200px">
                <div ui-layout="{flow : 'row'}" >
                    <div ui-layout-container class="graph-control-panel">
                        <div style="overflow: auto; height: 100%; border-color: black; border-width: 1px; border-style: solid">
                            <aa-collapsible-panel title="Time">
                                <div style="padding: 3px">
                                    <div>
                                        <span class="glyphicon glyphicon-time"></span>
                                        <div class="btn-group">
                                            <label class="btn btn-primary btn-xs" ng-model="absoluteTimeSpecification" uib-btn-radio="true">Absolute</label>
                                            <label class="btn btn-primary btn-xs" ng-model="absoluteTimeSpecification" uib-btn-radio="false">Relative</label>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="autoReloadId" ng-model="autoReload">
                                        <label for="autoReloadId" class="form-label">Auto reload</label>
                                        <span ng-show="autoReload">
                                            <input class="form-control form-control-xs form-control-inline" type="text" style="width: 40px" id="autoReloadPeriodId" ng-model="autoReloadPeriod" />
                                            <label for="autoReloadPeriodId" class="form-label">secs</label>
                                        </span>
                                    </div>
                                    <div ng-show="!absoluteTimeSpecification">
                                        <label class="input-label" for="relativePeriodId">Previous</label>
                                        <input class="form-control form-control-xs form-control-inline" type="text" style="width: 100px" id="relativePeriodId" ng-model="relativePeriod" ng-required />
                                    </div>
                                    <div ng-show="absoluteTimeSpecification">
                                        <span>From</span><br/>
                                        <p class="input-group">
                                            <input type="text" class="form-control form-control-xs" ng-required="true" uib-datepicker-popup="yyyy/MM/dd" datepicker-popup-template-url="datepicker-popup.html" ng-model="fromDate" is-open="fromDatePopupOpen" close-text="Close" datepicker-append-to-body="true" popup-placement="auto right" />
                                            <span class="input-group-btn" style="padding-right: 3px">
                                                <button type="button" class="btn btn-default btn-xs" ng-click="openFromDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                            <uib-timepicker template-url="timepicker.html" ng-model="fromTime" hour-step="1" minute-step="1" show-meridian="false" show-seconds="true" show-spinners="false"></uib-timepicker>
                                        </p>
                                    </div>
                                    <div ng-show="!autoReload && absoluteTimeSpecification" style="padding-bottom: 3px">
                                        <span>To</span>
                                        <button class="btn btn-primary btn-xs">Now</button>
                                    </div>
                                    <div ng-show="!autoReload && absoluteTimeSpecification">
                                        <p class="input-group">
                                            <input type="text" class="form-control form-control-xs" ng-required="true" uib-datepicker-popup="yyyy/MM/dd" datepicker-popup-template-url="datepicker-popup.html" ng-model="toDate" is-open="toDatePopupOpen" close-text="Close" datepicker-append-to-body="true" popup-placement="auto right" />
                                            <span class="input-group-btn" style="padding-right: 3px">
                                                <button type="button" class="btn btn-default btn-xs" ng-click="openToDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                            <uib-timepicker template-url="timepicker.html" ng-model="toTime" hour-step="1" minute-step="1" show-meridian="false" show-seconds="true" show-spinners="false"></uib-timepicker>
                                        </p>
                                    </div>
                                </div>
                            </aa-collapsible-panel>
                            <aa-collapsible-panel title="Graph sizing" initial-collapsed="true">
                                <div style="padding: 3px">
                                    <span class="glyphicon glyphicon-resize-vertical"></span>
                                    <div class="btn-group">
                                        <label class="btn btn-primary btn-xs" ng-model="autoGraphHeight" uib-btn-radio="true">Auto-height</label>
                                        <label class="btn btn-primary btn-xs" ng-model="autoGraphHeight" uib-btn-radio="false">Fixed height</label>
                                    </div>
                                </div>
                                <div ng-show="autoGraphHeight">
                                    <label for="minGraphHeight" class="form-label">Min:</label>
                                    <input style="width: 100px" class="form-control form-control-xs form-control-inline" type="text" id="minGraphHeight" ng-model="minGraphHeight">
                                    <span>px</span>
                                </div>
                                <div ng-show="!autoGraphHeight">
                                    <input style="width: 100px" class="form-control form-control-xs form-control-inline" type="text" id="graphHeight" ng-model="graphHeight">
                                    <span>px</span>
                                </div>
                            </aa-collapsible-panel>
                            <uib-accordion close-others="true">
                                <uib-accordion-group heading="Graph 1" is-open="true">
                                <aa-collapsible-panel title="Graph title & type" initial-collapsed="true">
                                    <input type="text" ng-model="graph.title" />

                                    <select ng-model="graph.type" ng-show="graphTypes.length > 1">
                                        <option ng-repeat="type in graphTypes">{{type}}</option>
                                    </select>
                                </aa-collapsible-panel>
                                <aa-collapsible-panel title="Rendering" initial-collapsed="true">
                                    <div>
                                        <input type="checkbox" id="interpolateGapsDygraph" ng-model="graph.dygraph.interpolateGaps" />
                                        <label for="interpolateGapsDygraph" class="form-label">Interpolate gaps?</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="highlightLinesDygraph" ng-model="graph.dygraph.highlightLines" />
                                        <label for="highlightLinesDygraph" class="form-label">Highlight lines?</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="stackedLinesDygraph" ng-model="graph.dygraph.stackedLines" />
                                        <label for="stackedLinesDygraph" class="form-label">Stacked lines?</label>
                                    </div>
                                </aa-collapsible-panel>
                                <aa-collapsible-panel title="y-Axis Control" initial-collapsed="true">
                                    <div>
                                        <input type="checkbox" id="squashNegativeDygraph" ng-model="graph.dygraph.squashNegative" ng-disabled="graph.dygraph.meanAdjusted" />
                                        <label for="squashNegativeDygraph" class="form-label">Squash -ve?</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="autoScaleDygraph" ng-model="graph.dygraph.autoScale" ng-disabled="graph.dygraph.ylog" />
                                        <label for="autoScaleDygraph" class="form-label">Auto scale?</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="ylogDygraph" ng-model="graph.dygraph.ylog" ng-disabled="graph.dygraph.autoScale" />
                                        <label for="ylogDygraph" class="form-label">Logarithmic?</label>
                                    </div>
                                </aa-collapsible-panel>
                                <!--div style="text-decoration: underline; font-weight: 800">
                                    Annotations
                                </div>
                                <div>
                                    <input type="checkbox" id="annotationsDygraph" ng-model="graph.dygraph.annotations" />
                                    <label for="annotationsDygraph">Annotations?</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="globalAnnotationsDygraph" ng-model="graph.dygraph.globalAnnotations" />
                                    <label for="globalAnnotationsDygraph">Global annotations?</label>
                                </div-->
                                <div>
                                </div>
                                <aa-collapsible-panel title="Filtering" >
                                    <div>
                                        <div class="btn-group btn-group-xs" uib-dropdown is-open="wibble" style="display: inline-block">
                                            <button style="width: 60px; text-align: left" id="single-button" type="button" class="btn btn-primary btn-xs" uib-dropdown-toggle ng-disabled="disabled">
                                                <span>{{end}}</span> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                                <li role="menuitem"><a ng-click="setEnd('top')">top</a></li>
                                                <li role="menuitem"><a ng-click="setEnd('bottom')">bottom</a></li>
                                            </ul>
                                        </div>
                                        <input class="form-control form-control-xs form-control-inline" type="text" style="width: 40px" ng-model="graph.dygraph.countFilter.count" />
                                        by
                                        <div class="btn-group btn-group-xs" uib-dropdown is-open="wibble2" style="display: inline-block">
                                            <button style="width: 50px; text-align: left" id="single-button2" type="button" class="btn btn-primary btn-xs" uib-dropdown-toggle ng-disabled="disabled">
                                                <span>{{countMeasure}}</span> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button2">
                                                <li role="menuitem"><a ng-click="setCountMeasure('min')">min</a></li>
                                                <li role="menuitem"><a ng-click="setCountMeasure('mean')">mean</a></li>
                                                <li role="menuitem"><a ng-click="setCountMeasure('max')">max</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="border-bottom: 1px groove #808080; padding: 2px">
                                    </div>
                                    <div style="padding-top: 2px">
                                        <input class="form-control form-control-xs form-control-inline" type="text" style="width: 40px" ng-model="graph.dygraph.valueFilter.lowerBound" />
                                        &lt;=
                                        <div class="btn-group btn-group-xs" uib-dropdown is-open="wibble3" style="display: inline-block">
                                            <button style="width: 50px; text-align: left" id="single-button3" type="button" class="btn btn-primary btn-xs" uib-dropdown-toggle ng-disabled="disabled">
                                                <span>{{valueMeasure}}</span> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button3">
                                                <li role="menuitem"><a ng-click="setValueMeasure('any')">min</a></li>
                                                <li role="menuitem"><a ng-click="setValueMeasure('min')">min</a></li>
                                                <li role="menuitem"><a ng-click="setValueMeasure('mean')">mean</a></li>
                                                <li role="menuitem"><a ng-click="setValueMeasure('max')">max</a></li>
                                            </ul>
                                        </div>
                                        &lt;=
                                        <input class="form-control form-control-xs form-control-inline" type="text" style="width: 40px" ng-model="graph.dygraph.valueFilter.upperBound" />
                                    </div>
                                </aa-collapsible-panel>
                                <aa-collapsible-panel title="Specials" initial-collapsed="true">
                                    <div>
                                        <input type="checkbox" id="meanAdjustedDygraph" ng-model="graph.dygraph.meanAdjusted" ng-disabled="graph.dygraph.squashNegative" />
                                        <label for="meanAdjustedDygraph" class="form-label">Mean adjusted?</label>
                                    </div>
                                </aa-collapsible-panel>
                                <button class="btn btn-primary btn-xs" ng-click="deleteGraph(graph.id)">Delete</button>
                              </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                    <div ui-layout-container size="40px" class="graph-control-buttons-panel">
                        <button class="btn btn-primary btn-xs" ng-click="addGraph()" value="Add graph">Add graph</button>
                        <button class="btn btn-primary btn-xs" ng-click="renderGraphs()">Save..</button>
                    </div>
                </div>
            </div>
            <div ui-layout-container id="graph-panel" style="overflow: auto">
                <div class="graph-panel" id="scrollable-graph-panel" style="overflow: scroll">
                    <div ng-repeat="graph in model.graphs track by graph.id" id="graphDiv_{{graph.id}}"
                         bs-loading-overlay
                         bs-loading-overlay-reference-id="graphOverlay_{{graph.id}}"
                         bs-loading-overlay-template-url="loading-overlay-template.html">
                        <div class="graph-title">
                            <span>{{graph.title}}</span>
                            <span ng-show="renderMessages[graph.id] != null && renderMessages[graph.id] != ''"> - {{renderMessages[graph.id]}}</span>
                        </div>
                        <div ng-show="renderErrors[graph.id]!=null">
                            <span style="color: red">{{renderErrors[graph.id]}}</span>
                        </div>
                        <div ng-show="renderWarnings[graph.id]!=null">
                            <span>Warning: {{renderErrors[graph.id]}}</span>
                        </div>
                        <!-- content -->
                        <div ng-show="renderErrors[graph.id]==null">
                            <div id="renderDiv_{{graph.id}}">
                                <pre>Rendered graph</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ui-layout-container class="metric-control-panel" size="250px">
                <div ui-layout="{flow : 'row'}">
                    <div ui-layout-container class="metric-control-panel" size="50%" style="border: 1px solid black; height: 100%">
                        <div>
                            <input class="btn btn-primary btn-xs" type="button" value="+" ng-click="expandAll()" ng-show="expandAllVisible()">
                            <input class="btn btn-primary btn-xs" type="button" value="-" ng-click="collapseAll()">
                            <input class="btn btn-primary btn-xs" type="button" value="F" ng-click="showHideFilterInput()">
                            <input class="btn btn-primary btn-xs" type="button" value="R" ng-click="updateTree()">
                        </div>
                        <div ng-show="showFilterInput">
                            <input type="text" ng-model="filter">
                            <input class="btn btn-primary btn-xs" type="button" value="C" ng-click="clearFilterInput()">
                        </div>

                        <div style="overflow: auto">
                            <div treecontrol
                                 class="tree-light"
                                 tree-model="dataForTheTree"
                                 options="treeOptions"
                                 on-selection="nodeSelectedForAddition(node,selected)"
                                 selected-node="selectedTreeNode"
                                 filter-expression="filter"
                                 expanded-nodes="expandedNodes"
                                    >
                                <span style="text-decoration: {{nodeDecoration(node)}}">{{node.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div ui-layout-container class="metric-control-panel">
                        <div>
                            <label for="metricControl_selectMetric">Metric</label>
                            <select id="metricControl_selectMetric" ng-model="selectedMetricId" ng-change="nodeSelectedForEditing()" ng-disabled="nodeSelectionDisabled">
                                <option ng-repeat="metric in model.metrics track by metric.id" value="{{metric.id}}">{{metric.name}}</option>
                            </select>
                        </div>

                        <div style="overflow: auto; height: auto; padding: 3px" >
                            <div>
                                <label for="metricControl_editMetric_selectGraph">Graph</label>
                                <select id="metricControl_editMetric_selectGraph" ng-model="graphId" ng-disabled="!clearButtonEnabled()">
                                    <option value="0" selected="selected">None</option>
                                    <option ng-repeat="graph in model.graphs track by graph.id" value="{{graph.id}}">
                                        {{graph.title}}
                                    </option>
                                </select>
                            </div>
                            <uib-tabset>
                                <uib-tab heading="Query">
                                    <div>
                                        <label for="metricControl_editMetric_aggregator">Aggregator</label>
                                        <select id="metricControl_editMetric_aggregator" ng-model="aggregator" ng-disabled="!clearButtonEnabled()">
                                            <option>sum</option>
                                            <option>min</option>
                                            <option>max</option>
                                            <option>avg</option>
                                            <option>dev</option>
                                            <option>zimsum</option>
                                            <option>mimmin</option>
                                            <option>mimmax</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="metricControl_editMetric_rate">Rate?</label>
                                        <input id="metricControl_editMetric_rate" type="checkbox" ng-model="rate" ng-disabled="!clearButtonEnabled()" />
                                        <label for="metricControl_editMetric_rate">Rate Ctr?</label>
                                        <input id="metricControl_editMetric_rateCounter" type="checkbox" ng-model="rateCounter" ng-disabled="!clearButtonEnabled() && !rate" />
                                    </div>
                                    <div ng-show="rateCounter">
                                        <label for="metricControl_editMetric_rateCounterMax">Counter max</label>
                                        <input id="metricControl_editMetric_rateCounterMax" type="text" ng-model="rateCounterMax" />
                                        <label for="metricControl_editMetric_rateCounterReset">Counter reset</label>
                                        <input id="metricControl_editMetric_rateCounterReset" type="text" ng-model="rateCounterReset" />
                                    </div>
                                    <div>
                                        <label for="metricControl_editMetric_downsample">Downsample?</label>
                                        <input id="metricControl_editMetric_downsample" type="checkbox" ng-model="downsample" ng-disabled="!clearButtonEnabled()" />
                                        <label for="metricControl_editMetric_downsampleBy">by</label>
                                        <select id="metricControl_editMetric_downsampleBy" ng-model="downsampleBy" ng-disabled="!downsample">
                                            <option>sum</option>
                                            <option>min</option>
                                            <option>max</option>
                                            <option>avg</option>
                                            <option>dev</option>
                                            <option>zimsum</option>
                                            <option>mimmin</option>
                                            <option>mimmax</option>
                                        </select>
                                        <input type="text" ng-model="downsampleTo" ng-disabled="!downsample" />
                                    </div>

                                    <div>
                                        <span ng-repeat="tagk in tagNames" style="padding-right: 3px"><button class="btn btn-primary btn-xs" ng-click="addTagRow(tagk)" tooltip-append-to-body="true" uib-tooltip="Add tag row: {{tagValues[tagk].length}} unique values">+ {{tagk}} <span class="badge">{{tagValues[tagk].length}}</span></button></span>
                                    </div>

                                    <div>
                                        <table cellspacing="3">
                                            <tr ng-repeat="tag in tags track by tag.id">
                                                <td><span class="glyphicon glyphicon-remove-circle" style="cursor: pointer; cursor: hand; padding-right: 3px" ng-click="deleteTagRow(tag.id)" tooltip-append-to-body="true" uib-tooltip="Remove row" tooltip-placement="right"></span></td>
                                                <td style="padding-right: 3px"><span>{{tag.name}}</span></td>
                                                <td style="width: 100%; padding-right: 3px"><input type="text" style="width: 100%" ng-model="tag.value"  /></td>
                                                <td><input type="checkbox" ng-model="tag.groupBy"  tooltip-append-to-body="true" uib-tooltip="Group by" tooltip-placement="left" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="Rendering">
                                    <div>
                                        <label for="metricControl_editMetric_rightAxis">Right Axis</label>
                                        <input id="metricControl_editMetric_rightAxis" type="checkbox" ng-model="rightAxis" ng-disabled="!clearButtonEnabled()" />
                                    </div>
                                </uib-tab>
                            </uib-tabset>

                            <!--table>
                                <tr ng-repeat="tagk in tagNames">
                                    <td>{{tagk}}</td>
                                    <td><div tag-selection></div></td>
                                </tr>
                            </table-->
                        </div>
                        <input type="button" value="Cancel" ng-click="clearMetric()" ng-disabled="!clearButtonEnabled()">
                        <input type="button" value="Add" ng-click="addMetric()" ng-show="addButtonVisible()">
                        <input type="button" value="Delete" ng-click="deleteMetric()" ng-show="deleteButtonVisible()">
                        <input type="button" value="Save" ng-click="saveMetric()" ng-show="saveButtonVisible()">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>