.top-panel {
    background-color: #ffffff;
    text-align: center;
}
.graph-control-buttons-panel {
    background-color: #ffffff;
    text-align: right;
}
.graph-control-panel {
    background-color: #ffffff;
}
.graph-panel {
    background-color: #ffffff;
}
.metric-control-panel {
    background-color: #effffffee;
}

.panel-body {
    padding: 0;
}

.btn-xs .badge {
    margin-bottom: 2px;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
    color: #aaa;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* https://github.com/hakib/MassAutocomplete/issues/13#issuecomment-70501721 */
/* fix styles */
[mass-autocomplete] {
    position: relative;
}

.ac-container {
    position: absolute;
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
}

.ui-splitbar {
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
}

.daret > .caret {
    image-orientation: 180deg;
}

.checkbox-label {
    font-weight: normal;
}

.label {
    font-weight: normal;
}

.tooltip {
    z-index: 2000;
}

.form-control-xs {
    height: 22px;
    padding: 3px 6px;
}