<table>
  <tbody>
    <tr>
      <td class="form-group" ng-class="{'has-error': invalidHours}">
        <input style="width:20px;padding:1px" type="text" ng-model="hours" placeholder="H" ng-change="updateHours()" class="form-control form-control-xs form-control-inline text-center" ng-readonly="::readonlyInput" maxlength="2" tabindex="{{::tabindex}}">
      </td>
      <td>:</td>
      <td class="form-group" ng-class="{'has-error': invalidMinutes}">
        <input style="width:20px;padding:1px" type="text" ng-model="minutes" placeholder="M" ng-change="updateMinutes()" class="form-control form-control-xs form-control-inline text-center" ng-readonly="::readonlyInput" maxlength="2" tabindex="{{::tabindex}}">
      </td>
      <td>:</td>
      <td class="form-group" ng-class="{'has-error': invalidSeconds}">
        <input style="width:20px;padding:1px" type="text" ng-model="seconds" placeholder="S" ng-change="updateSeconds()" class="form-control form-control-xs form-control-inline text-center" ng-readonly="::readonlyInput" maxlength="2" tabindex="{{::tabindex}}">
      </td>
    </tr>
  </tbody>
</table>