<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MetricsCtrl">

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-mass-autocomplete/massautocomplete.js"></script>
    <link rel="stylesheet" type="text/css" href="../../bower_components/angular-mass-autocomplete/massautocomplete.theme.css">
    <!-- App JS -->
    <script type="text/javascript" src="metrics.js"></script>
</head>

<body>

<p><a href="../index.html">&lt;&lt; Back</a></p>

<div style="width: 400px">
    Metric: <select ng-model="selectedMetric" ng-change="metricSelected()">
        <option></option>
        <option ng-repeat="metric in metrics">
            {{metric}}
        </option>
    </select>

    <input type="text" ng-model="selectedMetric" disabled="true">

    <div>
        Rate? <input type="checkbox">
        <br/>
        Downsample?
        <input type="checkbox" ng-model="downsample">
        <select ng-model="downsampleBy" ng-disabled="!downsample">
            <option selected="true">avg</option>
            <option>sum</option>
            <option>min</option>
            <option>max</option>
            <option>...</option>
        </select>
        <input type="text" ng-disabled="!downsample" ng-model="downsampleTo">

        <table>
            <tr ng-repeat="tagk in tagNames">
                <td>{{tagk}}</td>
                <td><div tag-selection /></td>
            </tr>
        </table>

        <input type="button" value="Add">
    </div>

</div>



</body>
</html>