<!DOCTYPE html>
<html ng-app="myApp" ng-controller="ModelCtrl">

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
    <!-- App JS -->
    <script type="text/javascript" src="model.js"></script>
</head>

<body>

    <p><a href="../index.html">&lt;&lt; Back</a></p>

    Volatile<input type="text" ng-model="volatile.text">
    <br/>
    Persistent<input type="text" ng-model="persistent.text">
    <br/>
    <input type="button" value="Save" ng-click="save()">


</body>
</html>