<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MetricsCtrl">

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-mass-autocomplete/massautocomplete.js"></script>
    <script type="application/javascript" src="../../bower_components/angular-ui-layout/ui-layout.js"></script>
    <link rel="stylesheet" type="text/css" href="../../bower_components/angular-mass-autocomplete/massautocomplete.theme.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap-css-only/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../bower_components/angular-ui-layout/ui-layout.css">
    <style>
        .back{
            background-color : #eee;
            text-align: center;

        }
        .top {
            height: 80px;
        }

        .glyphicon-chevron-left,
        .glyphicon-chevron-right,
        .glyphicon-chevron-up,
        .glyphicon-chevron-down{
            color: #aaa;
        }
    </style>
    <!-- App JS -->
    <script type="text/javascript">
        angular
            .module('myApp', ['ngSanitize','MassAutoComplete', 'ui.layout'])
            .directive('tagSelection', function() {
                return {
                    template: '<div mass-autocomplete><input type="text" ng-model="tag[tagk]" mass-autocomplete-item="tagOptions[tagk]" /> RE? <input type="checkbox" ng-checked="re[tagk]"/> {{tagValuesMatchCount(tagk)}}</div>'
                }
            })
            .controller('MetricsCtrl', ['$scope', '$sce', '$http', function($scope, $sce, $http) {
                $scope.tag = "";
                $scope.tagValues = ["host1","host2","host3","localhost"];
                $scope.tagOptions = {
                    suggest: function(term) {
                        return $scope.suggestTagValues(term);
                    }
                };

                $scope.suggestTagValues = function(term, tag) {
                    var q = term.toLowerCase().trim();

                    var lastPipe = q.lastIndexOf("|");
                    var prefix = "";

                    var haveValues = [];
                    if (lastPipe >= 0) {
                        prefix = q.substring(0,lastPipe+1);
                        q = q.substring(lastPipe+1);

                        var haveValuesString = prefix.substring(0, lastPipe);
                        haveValues = haveValuesString.split("|");
                    }

                    var results = [];

                    var allValues = $scope.tagValues;
                    for (var i=0; i<allValues.length; i++) {
                        if (allValues[i].toLowerCase().startsWith(q) && haveValues.indexOf(allValues[i])<0) {
                            results.push({label: allValues[i], value: prefix+allValues[i]});
                        }
                    }
                    return results;
                }
            }]);
    </script>
</head>

<body>



<div ui-layout>
    <div ui-layout-container class="top back" size="60px" >
        <p style="text-align: left;"><a href="../index.html">&lt;&lt; Back</a></p>
        <b>Otis - An OpenTSDB Visualiser</b>
    </div>
    <div ui-layout-container>
        <div ui-layout="{flow : 'column'}" >
            <div ui-layout-container class="back" size="150px" >Graph Control</div>
            <div ui-layout-container class="back" >
                <div mass-autocomplete><input type="text" ng-model="tag" mass-autocomplete-item="tagOptions"></div>
            </div>
        </div>
    </div>
</div>



</body>
</html>