<!DOCTYPE html>
<html ng-app="myApp" ng-controller="TreeCtrl">

<head>
    <title>Otis - Metric Tree PoC</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-tree-control/angular-tree-control.js"></script>
    <!-- link for CSS when using the tree as an attribute -->
    <link rel="stylesheet" type="text/css" href="../../bower_components/angular-tree-control/css/tree-control-attribute.css">
    <!-- App JS -->
    <script type="text/javascript" src="tree.js"></script>
</head>

<body>

<p><a href="/index.html">&lt;&lt; Back</a></p>

<div style="width: 400px">
    <input type="button" value="+" ng-click="expandAll()">
    <input type="button" value="-" ng-click="collapseAll()">
    <input type="button" value="F" ng-click="showHideFilterInput()">
    <input type="text" ng-model="filter" ng-show="showFilterInput">
    <input type="button" value="C" ng-click="clearFilterInput()" ng-show="showFilterInput">

    <div style="overflow: auto; height: 100px; border-color: black; border-width: 1px; border-style: solid">
        <div treecontrol
             class="tree-light"
             tree-model="dataForTheTree"
             options="treeOptions"
             on-selection="nodeSelected(node,selected)"
             selected-node="node1"
             filter-expression="filter"
             expanded-nodes="expandedNodes"
                >
            <span style="text-decoration: {{nodeDecoration(node)}}">{{node.name}}</span>
        </div>
    </div>

    <input type="text" ng-model="selectedMetric" disabled="true">

    <div>
    Metric controls go here.
    </div>

    <input type="button" value="Add" ng-disabled="!addButtonEnabled">

</div>



</body>
</html>