<!DOCTYPE html>
<html ng-app="Otis">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Otis - An OpenTSDB Visualiser</title>
    <!-- Angular JS - keep order in here same as deps in otis.js -->
    <script type="application/javascript" src="../../bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="../../bower_components/angular-ui-layout/ui-layout.js"></script>
    <script type="application/javascript" src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="application/javascript" src="../../bower_components/angular-tree-control/angular-tree-control.js"></script>
    <script type="application/javascript" src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="application/javascript" src="../../bower_components/angular-mass-autocomplete/massautocomplete.js"></script>
    <!-- Angular CSS - keep order in here same as deps in otis.js -->
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap-css-only/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/angular-ui-layout/ui-layout.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/angular-tree-control/css/tree-control-attribute.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/angular-mass-autocomplete/massautocomplete.theme.css">
    <!-- App JS -->
    <script type="text/javascript" src="otis.js"></script>
    <script type="text/javascript" src="OtisCtrl.js"></script>
    <script type="text/javascript" src="GraphControlCtrl.js"></script>
    <script type="text/javascript" src="GraphCtrl.js"></script>
    <script type="text/javascript" src="MetricControlCtrl.js"></script>
    <!-- App CSS -->
    <link rel="stylesheet" href="otis.css">
</head>

<body>

<div ui-layout>
    <div ui-layout-container class="top-panel" size="60px" ng-controller="OtisCtrl">
        <p><b>Otis - An OpenTSDB Visualiser</b></p>
        <p style="text-align: right"><button ng-click="clearAll()">Reset</button></p>
    </div>

    <div ui-layout-container>
        <div ui-layout="{flow : 'column'}" >
            <div ui-layout-container size="200px" ng-controller="GraphControlCtrl">
                <div ui-layout="{flow : 'row'}" >
                    <div ui-layout-container class="graph-control-panel">
                        <div style="overflow: auto; height: 100%; border-color: black; border-width: 1px; border-style: solid">
                            <accordion close-others="true">
                                <accordion-group heading="Global" is-open="firstOpen">
                                    <div>
                                        <div style="border: solid 1px black">
                                            <label for="fromTimestamp">From</label><br/>
                                            <input type="text" size="10" id="fromTimestamp" ng-model="fromTimestamp"/>
                                            <button>Cal</button>
                                            <br/>
                                            <label for="toTimestamp">To</label>
                                            <button>Now</button>
                                            <input type="checkbox" id="autoReload" ng-model="autoReload">
                                            Auto reload
                                            <div >
                                                <input type="text" size="10" id="toTimestamp" ng-model="toTimetamp" ng-disabled="!autoReload"/>
                                                <button ng-disabled="autoReload">Cal</button>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                                <accordion-group heading="{{graph.title}}" is-open="isOpen[graph.id]" ng-repeat="graph in model.graphs track by graph.id">

                                    <div ng-show="showEdit[graph.id]">
                                        <input type="text" ng-model="graph.title" />

                                        <select ng-model="graph.type" ng-show="graphTypes.length > 1">
                                            <option ng-repeat="type in graphTypes">{{type}}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <button ng-click="showEdit[graph.id] = !showEdit[graph.id]">Edit title/type</button> <button ng-click="deleteGraph(graph.id)">Delete</button>
                                    </div>

                                    <div ng-show="graph.type == 'debug'">
                                        debug controls
                                    </div>
                                    <div ng-show="graph.type == 'gnuplot'">
                                        <tabset>
                                            <tab heading="Axes">
                                                <table>
                                                    <tr>
                                                        <th></th>
                                                        <th style="text-align: center">Y</th>
                                                        <th style="text-align: center">Y2</th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">Label</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="5px">&nbsp;</td>
                                                        <td><input type="text" size="5" ng-model="graph.gnuplot.yAxisLabel"/></td>
                                                        <td><input type="text" size="5" ng-model="graph.gnuplot.y2AxisLabel"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">Format</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><input type="text" size="5" ng-model="graph.gnuplot.yAxisFormat"/></td>
                                                        <td><input type="text" size="5" ng-model="graph.gnuplot.y2AxisFormat"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">Range</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td style="text-align: center"><input type="text" size="2" ng-model="graph.gnuplot.yAxisRange"/></td>
                                                        <td style="text-align: center"><input type="text" size="2" ng-model="graph.gnuplot.y2AxisRange"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">Log&nbsp;scale</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td style="text-align: center"><input type="checkbox" ng-model="graph.gnuplot.yAxisLogScale"></td>
                                                        <td style="text-align: center"><input type="checkbox" ng-model="graph.gnuplot.y2AxisLogScale"></td>
                                                    </tr>
                                                </table>
                                            </tab>
                                            <tab heading="Key">
                                                <label for="showKey">Show key</label>
                                                <input id="showKey" type="checkbox" ng-model="graph.gnuplot.showKey"/>
                                                <div>
                                                    <div>
                                                        Key placement:
                                                    </div>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <input ng-disabled="!showKey" type="radio" value="out top left" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <input ng-disabled="!showKey" type="radio" value="out top center" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <input ng-disabled="!showKey" type="radio" value="out top right" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td style="border-top: 1px solid black; border-left: 1px solid black">
                                                                <input ng-disabled="!showKey" type="radio" value="top left" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td style="border-top: 1px solid black">
                                                                <input ng-disabled="!showKey" type="radio" value="top center" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td style="border-top: 1px solid black; border-right: 1px solid black">
                                                                <input ng-disabled="!showKey" type="radio" value="top right" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input ng-disabled="!showKey" type="radio" value="out center left" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td style="border-left: 1px solid black">
                                                                <input ng-disabled="!showKey" type="radio" value="center left" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td>
                                                                <input ng-disabled="!showKey" type="radio" value="center" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td style="border-right: 1px solid black">
                                                                <input ng-disabled="!showKey" type="radio" value="center right" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td>
                                                                <input ng-disabled="!showKey" type="radio" value="out center right" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td style="border-bottom: 1px solid black; border-left: 1px solid black">
                                                                <input ng-disabled="!showKey" type="radio" value="bottom left" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td style="border-bottom: 1px solid black">
                                                                <input ng-disabled="!showKey" type="radio" value="bottom center" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td style="border-bottom: 1px solid black; border-right: 1px solid black">
                                                                <input ng-disabled="!showKey" type="radio" value="bottom right" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input ng-disabled="!showKey" type="radio" value="out bottom left" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <input ng-disabled="!showKey" type="radio" value="out bottom center" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <input ng-disabled="!showKey" type="radio" value="out bottom right" ng-model="graph.gnuplot.keyLocation" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div>
                                                        Key alignment:
                                                    </div>
                                                    <div>
                                                        <input ng-disabled="!showKey" type="radio" id="columnar" ng-model="graph.gnuplot.keyAlignment" value="columnar"><label for="columnar">Columnar</label>
                                                        <input ng-disabled="!showKey" type="radio" id="horizontal" ng-model="graph.gnuplot.keyAlignment" value="horizontal"><label for="horizontal">Horizontal</label>
                                                    </div>
                                                </div>
                                            </tab>
                                            <tab heading="Style">
                                                <input type="checkbox" id="smooth" ng-model="graph.gnuplot.lineSmoothing"/>
                                                <label for="smooth">Smooth lines</label>
                                            </tab>
                                        </tabset>
                                    </div>
                                    <!--div ng-show="graph.type == 'dygraph'">
                                        dygraph controls<br/>
                                        <input type="checkbox" ng-model="graph.dygraph.highlightLines"/> Highlight lines
                                    </div>
                                    <div ng-show="graph.type == 'cubism'">
                                        cubism controls
                                    </div-->

                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div ui-layout-container size="40px" class="graph-control-buttons-panel">
                        <button ng-click="addGraph()" value="Add graph">Add graph</button>
                        <button ng-click="renderGraphs()">Save..</button>
                    </div>
                </div>
            </div>
            <div ui-layout-container class="graph-panel" ng-controller="GraphCtrl">
                <div ng-repeat="graph in model.graphs track by graph.id" id="graphDiv_{{graph.id}}">
                    <div id="debugDiv_{{graph.id}}" ng-show="graph.type == 'debug'">
                        <pre>{{renderedContent[graph.id]}}</pre>
                    </div>
                    <img id="gnuplotImg_{{graph.id}}" ng-src="renderedContent[graph.id]" ng-show="graph.type == 'gnuplot'" />
                </div>
            </div>
            <div ui-layout-container class="metric-control-panel" size="250px" ng-controller="MetricControlCtrl">
                <div ui-layout="{flow : 'row'}" >
                    <div ui-layout-container class="metric-control-panel" size="50%">
                        <div style="border: 1px solid black; height: 100%">
                            <div>
                                <input type="button" value="+" ng-click="expandAll()">
                                <input type="button" value="-" ng-click="collapseAll()">
                                <input type="button" value="F" ng-click="showHideFilterInput()">
                            </div>
                            <div ng-show="showFilterInput">
                                <input type="text" ng-model="filter">
                                <input type="button" value="C" ng-click="clearFilterInput()">
                            </div>

                            <div style="overflow: auto">
                                <div treecontrol
                                     class="tree-light"
                                     tree-model="dataForTheTree"
                                     options="treeOptions"
                                     on-selection="nodeSelectedForAddition(node,selected)"
                                     selected-node="node1"
                                     filter-expression="filter"
                                     expanded-nodes="expandedNodes"
                                        >
                                    <span style="text-decoration: {{nodeDecoration(node)}}">{{node.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ui-layout-container class="metric-control-panel">
                        <div>
                            <label for="metricControl_selectMetric">Metric</label>
                            <select id="metricControl_selectMetric" ng-model="selectedMetricId" ng-change="nodeSelectedForEditing()" ng-disabled="nodeSelectionDisabled">
                                <option ng-repeat="metric in model.metrics track by metric.id" value="{{metric.id}}">{{metric.name}}</option>
                            </select>
                        </div>

                        <div style="border: 1px solid black; overflow: auto">
                            <div  ng-show="model.graphs.length > 1">
                                <label for="metricControl_editMetric_selectGraph">Graph</label>
                                <select id="metricControl_editMetric_selectGraph" ng-model="graphId">
                                    <option value="0" selected="selected">None</option>
                                    <option ng-repeat="graph in model.graphs track by graph.id" value="{{graph.id}}">
                                        {{graph.title}}
                                    </option>
                                </select>
                            </div>
                            <label for="metricControl_editMetric_rate">Rate?</label>
                            <input id="metricControl_editMetric_rate" type="checkbox" ng-model="rate">
                            <br/>
                            <label for="metricControl_editMetric_downsample">Downsample?</label>
                            <input id="metricControl_editMetric_downsample" type="checkbox" ng-model="downsample">
                            <label for="metricControl_editMetric_downsampleBy">by</label>
                            <select id="metricControl_editMetric_downsampleBy" ng-model="downsampleBy" ng-disabled="!downsample">
                                <option selected="selected">avg</option>
                                <option>sum</option>
                                <option>min</option>
                                <option>max</option>
                                <option>...</option>
                                <!-- TODO load aggregators from /aggregators on tsdb.. -->
                            </select>
                            <input type="text" ng-model="downsampleTo" ng-disabled="!downsample">

                            <table>
                                <tr ng-repeat="tagk in tagNames">
                                    <td>{{tagk}}</td>
                                    <td><div tag-selection></div></td>
                                </tr>
                            </table>
                        </div>
                        <input type="button" value="Cancel" ng-click="clearMetric()" ng-disabled="!clearButtonEnabled">
                        <input type="button" value="Add" ng-click="addMetric()" ng-show="addButtonVisible">
                        <input type="button" value="Save" ng-click="saveMetric()" ng-show="saveButtonVisible">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>